img.img-thumbnail {
  height: 100px;
  min-width: 100px !important;
  margin-bottom: 2px;
}

.nv-file-over {
  border: dotted 3px deeppink;
}

input[type=file] {
  color: transparent;
}

.btn-primary-light {
  color: white;
  background-color: hotpink;
  border-color: hotpink;
}

.btn-primary-light:hover {
  background-color: #ff2693;
  border-color: #ff2693;
}
